/node_modules
/public/hot
/public/files/
/public/images/files/
/public/images/posts
/public/images/catalogues
/public/images/collection
/public/images/collectionitem
/public/images/collectiontype
/public/images/materials/
/public/images/pixel
/public/storage
/public/Sitemap.xml
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.phpstorm.meta.php
_ide_helper.phpstorm
.phpintel/
.env
