.loader {
    border: 16px solid #979797; /* Light grey */
    border-top: 16px solid #071D35; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 30;
    margin-right: -100px;
    margin-left: 200px;	
    margin-bottom: -50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}